.devis-form {
    display: none;
}
.devis-visuel,
.devis-info{
    flex: 1;
}
#vs-options {
    display: none;
}
#poignee-options {
    display: none;
}
.lg_tab,
.ht_tab {
    display: none;
}
.lg_trou,
.ht_trou {
    display: none;
}
#cochonnet-options {
    display: none;
}
#largeur_trou,
#hauteur_trou{
    display: none;
}
.feuillure_tab {
    display: none;
}
#feuillure {
    display: none;
}